/*!
Project: Poprotsky.eu;
Authors: Eugene Poprotsky;
Company: Poprotsky | Eugeniusz Poprocki;

Created date: 2017-06-17; 
Last update date: 2017-06-26;

Version: 0.4;
*/

@import
	'helpers/_variables.scss',
	 
    'vendors/_flexboxgrid.scss',
    'vendors/_media-queries.scss',
    'vendors/_fancybox.scss',
    
    'helpers/_mixins.scss',
    'helpers/_helpers.scss',
    
    'base/_normalize.scss',
    'base/_global.scss',
    'base/_fonts.scss',
    
	'components/_alerts.scss',
    'components/_animations.scss',
	'components/_buttons.scss',
	'components/_forms.scss',
    'components/_paginations.scss',
    'components/_headings.scss',
    'components/_sections.scss',
    'components/_lists.scss',
    'components/_projects-item.scss',
    'components/_project-fonts.scss',
    'components/_project-colors.scss',
	 
	'layout/_grid.scss',
    'layout/_header.scss',
    'layout/_footer.scss',
	  
	'pages/_common.scss',
    'pages/_about.scss',
    'pages/_services.scss',
    'pages/_testimonials.scss',
    'pages/_portfolio.scss',
    'pages/_project.scss',
    'pages/_contact.scss'; 
	 
	