@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

// 
// DEFAULT ICONS
// 

@font-face {
  font-family: $default-font-family-icon;
  src:
    url('../fonts/ico.ttf?673vtl') format('truetype'),
    url('../fonts/ico.woff?673vtl') format('woff'),
    url('../fonts/ico.svg?673vtl#ico-default') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ico {
  font-family: $default-font-family-icon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-email:before {
  content: "\e000";
}
.ico-phone:before {
  content: "\e001";
}
.ico-mobile-phone:before {
  content: "\e002";
}
.ico-file:before {
  content: "\e003";
}
.ico-search:before {
  content: "\e004";
}
.ico-info-label:before {
  content: "\e005";
}
.ico-warning-label:before {
  content: "\e006";
}
.ico-danger-label:before {
  content: "\e007";
}
.ico-success-label:before {
  content: "\e008";
}
.ico-basket:before {
  content: "\e009";
}
.ico-cross:before {
  content: "\e010";
}
.ico-star:before {
  content: "\e011";
}
.ico-basket-alt:before {
  content: "\e012";
}
.ico-user:before {
  content: "\e013";
}
.ico-arrow:before {
  content: "\e014";
}
.ico-arrow-bold:before {
  content: "\e015";
}
.ico-chevron-thin-up:before {
  content: "\e016";
}
.ico-chevron-thin-right:before {
  content: "\e017";
}
.ico-chevron-thin-left:before {
  content: "\e018";
}
.ico-chevron-thin-down:before {
  content: "\e019";
}
.ico-chevron-right:before {
  content: "\e020";
}
.ico-chevron-left:before {
  content: "\e021";
}
.ico-chevron-down:before {
  content: "\e022";
}
.ico-chevron-up:before {
  content: "\e023";
}
