// by Eugeniusz Poprocki


//
// .btn-group
//
$btn-group--margin: 0 -5px;
$btn-group--btn-margin: 5px;


//
// .btn // default
//
$btn-margin: $clear-margin;

$btn-padding-top: 15px;
$btn-padding-right: 30px;
$btn-padding-bottom: 15px;
$btn-padding-left: 30px;

$btn-text-align: center;
$btn-text-transform: uppercase;
$btn-line-height: 1;
$btn-letter-spacing: 1px;

$btn-font-size: 13px;
$btn-font-family: $default-font-family;
$btn-font-weight: 500;

$btn-color: $black;
$btn-color--hover: $white;

$btn-bg-color: transparent;
$btn-bg-color--hover: $black;

$btn-border: 2px solid $black;
$btn-border--hover: 2px solid transparent;
$btn-border-radius: 0;

//
// .btn--small
//
$btn-small--padding-divider: 1.5;
$btn-small--font-size: $default-font-size - 2px;

	//// don't edit | this code generate small size btn
	$btn-small--padding-top: $btn-padding-top / $btn-small--padding-divider;
	$btn-small--padding-right: $btn-padding-right / $btn-small--padding-divider;
	$btn-small--padding-bottom: $btn-padding-bottom / $btn-small--padding-divider;
	$btn-small--padding-left: $btn-padding-left / $btn-small--padding-divider;


//
// .btn--large
//
$btn-large--padding-divider: 1.5;
$btn-large--font-size: $default-font-size + 2px;

	//// don't edit | this code generate large size btn
	$btn-large--padding-top: $btn-padding-top * $btn-large--padding-divider;
	$btn-large--padding-right: $btn-padding-right * $btn-large--padding-divider;
	$btn-large--padding-bottom: $btn-padding-bottom * $btn-large--padding-divider;
	$btn-large--padding-left: $btn-padding-left * $btn-large--padding-divider;


// 
// END VARS
// 


// btn group
.btn-group {
	@extend .flex;
	margin: $btn-group--margin;
	> .btn {
		margin: $btn-group--btn-margin;
	}
}

// default btn
.btn {
	@extend .flex;
	cursor: pointer;

	padding: {
		top: $btn-padding-top;
		right: $btn-padding-right;
		bottom: $btn-padding-bottom;
		left: $btn-padding-left;
	}

	margin: $btn-margin;

	text-align: $btn-text-align;
	text-decoration: none;
	text-transform: $btn-text-transform;
	line-height: $btn-line-height;
	letter-spacing: $btn-letter-spacing;

	color: $btn-color;
	background-color: $btn-bg-color;
	border: $btn-border;
	border-radius: $btn-border-radius;

	font-size: $btn-font-size;
	font-family: $btn-font-family;
	font-weight: $btn-font-weight;
	
	@include transition();

	@include hover() {
        border: $btn-border--hover;
		text-decoration: none;
		background-color: $btn-bg-color--hover;
		color: $btn-color--hover;
    }
    @include max-screen($sm-max) {
        font-size: 12px;
        padding: 13px 24px;
    }
    @include max-screen($xs-max) {
        font-size: 11px;
        padding: 13px 20px;
    }
    // sizes
    &--small {
    	padding: {
			top: $btn-small--padding-top;
			right: $btn-small--padding-right;
			bottom: $btn-small--padding-bottom;
			left: $btn-small--padding-left;
		}
		font-size: $btn-small--font-size;
    }
    &--large {
    	padding: {
			top: $btn-large--padding-top;
			right: $btn-large--padding-right;
			bottom: $btn-large--padding-bottom;
			left: $btn-large--padding-left;
		}
		font-size: $btn-large--font-size;
    }
	// other
	&--block {
		display: block;
		width: 100%;
		min-width: 0;
	}
}






