::-webkit-input-placeholder {
    color: $default-font-color;
}

:-moz-placeholder {
    color: $default-font-color;
    opacity: 1;
}

::-moz-placeholder {
    color: $default-font-color;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $default-font-color;
}

input, 
select, 
textarea {
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    font-size: $default-font-size;
    color: $default-font-color;
    border: none;
    border-bottom: 2px solid $gray;
    outline: none;
    font-family: $default-font-family;
    @include transition();
    &.error {
	    border-color: $color-decline;
	}
    &:focus {
	    border-color: $black;
	}
}

textarea {
    margin: 0;
    resize: none;
    min-height: 120px;
    vertical-align: top;
}

form {
    margin-top: 10px;
}

.form-group {
	margin-bottom: 40px;
	position: relative;
    label {
        display: block;
        color: $black;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}