::-webkit-input-placeholder {
    color: $default-font-color;
}

:-moz-placeholder {
    color: $default-font-color;
    opacity: 1;
}

::-moz-placeholder {
    color: $default-font-color;
    opacity: 1;
}

:-ms-input-placeholder {
    color: $default-font-color;
}

input, 
select, 
textarea,
.jcf-select {
    width: 100%;
    margin: 0;
    padding: 15px 20px;
    font-size: $default-font-size;
    color: $default-font-color;
    border: 1px solid #E2E2E2;
    outline: none;
    font-family: $default-font-family;
    @include transition();
    &.error {
	    border-color: #D30C0C;
	}
    &:focus {
	    border-color: #C8C8C8;
	    box-shadow: 0 0 5px 1px rgba(0,0,0,0.05);
	}
	&[disabled] {
		text-shadow: 1px 1px #FFF;
	    border-color: #d9d9d9;
	    background-color: #f2f2f2;
	    color: #919191;
	}
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
}

select {
    padding: 14px 18px;
}

textarea {
    margin: 0;
    resize: none;
    vertical-align: top;
}

label {
    display: inline-block;
    font-weight: $default-font-weight;
    margin-bottom: 5px;
    max-width: 100%;
}

.help-block {
	opacity: 0.6;
    display: block;
    margin-bottom: 8px;
    margin-top: 5px;
    font-size: 80%;
}

.static-control {
	border: 1px solid transparent;
    color: #000;
    font-size: $default-font-size;
    font-weight: $default-font-weight;
    padding: 15px 0;
    width: 100%;
}

.form-group {
	margin-bottom: 25px;
	position: relative;
}

.button-group {
	margin-top: 20px;
	overflow: hidden;
	.btn {
		@include max-screen($xs-max) {
			width: 100%;
		    clear: both;
		    display: block;
		}
	}
}

.recaptcha {
	text-align: left;
}

.form {
	margin: $default-margin;
	
	&-horizontal {
		label {
			text-align: left;
			margin-top: 17px;
			float: left;
			width: 180px;
			@include max-screen($sm-max) {
				margin-top: 0;
				width: 100%;
			}
		}
		
		.form-group {
			margin-bottom: 10px;
			margin-left: 0;
			margin-right: 0;
			&:before,
			&:after {
				display: table;
				line-height: 0;
				content: "";
			}
			&:after {
				clear: both;
			}
		}
		
		.field-group,
		.button-group  {
			margin-left: 200px;
			@include max-screen($sm-max) {
				margin-left: 0;
				clear: both;
			}
		}
	}
}

.checkbox,
.radio {
	margin: 10px 0;
	&:before,
	&:after {
		display: table;
		line-height: 0;
		content: "";
	}
	
	&:after {
		clear: both;
	}
	
	input {
		float: left;
		margin-top: 4px;
	}
	
	label {
		margin: 0 0 0 25px;
		overflow: hidden;
		display: block;
		text-align: left;
		float: none;
		width: auto;
		padding-top: 0;
	}
	
	.radio-info,
	.checkbox-info {
		margin: 2px 0 8px 35px;
		opacity: 0.6;
		display: block;
		font-size: 12px;
	}
}