.heading {
    @extend .flex, .flex--end-y;
    position: relative;
    min-height: 400px;
    overflow: hidden;
    background-position-x: center !important;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include max-screen($sm-max) {
        min-height: 350px;
    }
    @include max-screen($xs-max) {
        min-height: 300px;
    }
    &::before {
        content: '';
        @extend .absolute;
        background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.3) 25%,rgba(0,0,0,.3) 100%);
        z-index: 8;
    }
    .container {
        @include max-screen($xs-max) {
            width: 100%;
        }
    }
    &__content {
        position: relative;
        z-index: 9;
        padding: 50px 0;
        @include max-screen($sm-max) {
            padding: 40px 0;
        }
        @include max-screen($xs-max) {
            padding: 30px 0;
        }
    }
    &__title {
        @extend .h1;
        color: $white;
        margin-bottom: 0;
        @include max-screen($sm-max) {
            font-size: 50px;
        }
        @include max-screen($xs-max) {
            font-size: $heading-2-size;
            line-height: 1.25;
        }
        span {
            font-weight: 300;
        }
    }
    &__subtitle {
        display: block;
        position: relative;
        padding-left: 50px;
        color: rgba($white, .3);
        font-size: 30px;
        margin-bottom: 0;
        @include max-screen($sm-max) {
            font-size: 26px;
        }
        @include max-screen($xs-max) {
            padding-left: 0;
            font-size: $heading-4-size;
        }
        span {
            opacity: 0;
            @include max-screen($xs-max) {
                opacity: 1;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top:24px;
            left:0;
            width: 32px;
            height: 2px;
            background-color: rgba($white, .3);
            @include max-screen($xs-max) {
                content: none;
            }
        }
    }
    &--large {
        height: 100vh;
        align-items: center !important;
        min-height: initial;
        .container {
            position: relative;
            height: inherit;
            @extend .flex, .flex--center-y;
        }
    }
}
