.list {
    @extend .flex;
    > li {
        flex: 0 0 50%;
        margin-bottom: 10px;
        padding-right: 30px;
        @include max-screen($xs-max) {
            flex: 0 0 100%;
        }
    }
    // 
    // LIST DEFAULT
    // 
    &--default {
        display: block;
        column-count: 2;
        @include max-screen($xs-max) {
            column-count: 1;
        }
    }

    // 
    // LIST ALT
    // 
    // used only list--alt
    &__title {
        display: block;
        @extend .h2;
        margin-bottom: 0;
    }
    // used only list--alt
    &__subtitle {
        display: block;
        color: $default-font-color;
        font-size: 24px;
        font-weight: 300;
    }
    &--alt {
        > li {
            margin-bottom: 80px;
            @include max-screen($xs-max) {
                margin-bottom: 50px;
            }
            &:nth-last-child(2),
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-last-child(2) {
                @include max-screen($xs-max) {
                   margin-bottom: 50px; 
                }
            }
        }
    }
    &--small {
        .list__title,
        .list__subtitle {
            font-size: 20px;
        }
    }
}