.lead {
	font-size: $default-lead-font-size;
    line-height: 1.4;
    @include max-screen($sm-max) {
        font-size: 22px;
    }
    @include max-screen($xs-max) {
        font-size: 20px;
    }
}

p {
    font-size: $default-font-size;
    @include max-screen($sm-max) {
        font-size: 18px;
    }
    @include max-screen($xs-max) {
        font-size: 16px;
    }
}

.container {
    @include max-screen($sm-max) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.scroll-down {
    position: absolute;
    bottom:10vh;
    left:15px;
    z-index: 9;
    color: rgba($white, .5);
    font-size: 18px;
    animation: scroll-down 1.3s ease infinite;
    @include hover() {
        color: $white;
    }
    @include max-screen($sm-max) {
        left:30px;
    }
    .ico {
        margin-right: 15px;
        &::before {
            display: inline-flex;
            transform: rotate(90deg);
            font-size: 14px;
            width: 14px;
            height: 14px;
        }
    }
}


video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../video/video_poster.jpg') no-repeat;
    background-size: cover;
    @include transition();
}
