.project-page {
    .list {
        &--small {
            > li {
                margin-bottom: 40px;
            }
        }
    }
    .masonry {
        margin: 0 -2.5vw;
        min-width: 1200px;
        @include max-screen($md-max) {
            min-width: 100%;
        }
        @include max-screen($xs-max) {
            min-width: 100%;
            margin:0;
        }
    }
}

.project {
    &__img {
        @extend .flex, .flex--column;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.07);
        width: 26vw;
        max-width: 500px;
        margin-bottom: 5vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        @include max-screen($md-max) {
            width: calc(50% - 5vw);
            max-width: calc(50% - 5vw);
        }
        @include max-screen($xs-max) {
            width: 100%;
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        @include hover() {
           box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.14); 
           opacity: .9;
        }
        img {
            width: 100%;
        }
        header {
            position: relative;
            background-color: #e4e4e4;
            width: 100%;
            height: 12px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            span {
                position: absolute;
                top: 3.5px;
                left: 3.5px;
                display: inline-block;
                width: 5px;
                height: 5px;
                background-color: $white;
                border-radius: 5px;
                &::before,
                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    border-radius: 5px;
                    width: 5px;
                    height: 5px;
                    background-color: $white;
                }
                &::before {
                    left: 7px;
                }
                &::after {
                    left: 14px;
                }
            }
        }
        &--large {
            width: 62.5vw;
            max-width: 1200px;
            margin: 0;
            @include max-screen($md-max) {
                width: 100%;
                max-width: 100%;
            }
            header {
                height: 24px;
                @include max-screen($sm-max) {
                    height: 20px;
                }
                @include max-screen($xs-max) {
                    height: 12px;
                }
                span {
                    top: 7.5px;
                    left: 7.5px;
                    width: 8px;
                    height: 8px;
                    border-radius: 8px;
                    @include max-screen($sm-max) {
                        top: 5.5px;
                        left: 5.5px;
                    }
                    @include max-screen($xs-max) {
                        width: 5px;
                        height: 5px;
                        top: 3.5px;
                        left: 3.5px;
                    }
                    &::before,
                    &::after {
                        border-radius: 8px;
                        width: 8px;
                        height: 8px;
                        @include max-screen($xs-max) {
                            width: 5px;
                            height: 5px;
                        }
                    }
                    &::before {
                        left: 12px;
                        @include max-screen($xs-max) {
                            left: 7px;
                        }
                    }
                    &::after {
                        left: 24px;
                        @include max-screen($xs-max) {
                            left: 14px;
                        }
                    }
                }
            }
        }
    }
}

.next-project {
    @extend .flex;
    position: relative;
    @include hover() {
        .next-project__label {
            color: $black;
        }
        .projects {
            &::before {
                width: 100%;
            }
        }
        .projects__item-img {
            transform: translateY(-10px);
        }
    }
    &__inner {
        @extend .absolute, .flex, .flex--center-y;
        padding: 100px 0;
        z-index: 2;
        @include max-screen($sm-max) {
            position: relative;
            background-color: $gray;
            width: 100%;
        }
        @include max-screen($xs-max) {
            padding: 60px 0;
        }
        > .container {
            @include max-screen($xs-max) {
                width: 100%;
            }
        }
    }
    &__title {
        @extend .h2;
        margin-bottom: 0;
        padding-right: 30px;
        @include max-screen($sm-max) {
            font-size: 26px;
        }
        @include max-screen($xs-max) {
            font-size: $heading-3-size;
        }
    }
    &__subtitle {
        position: relative;
        display: inline-block;
        font-size: 24px;
        font-weight: 300;
        padding-right: 30px;
        color: $default-font-color;
        @include max-screen($sm-max) {
            font-size: $heading-5-size;
        }
        @include max-screen($xs-max) {
            font-size: 18px;
        }
    }
    &__label {
        @extend .flex, .flex--inline;
        color: rgba($key-color-2, .5);
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: $btn-letter-spacing;
        font-weight: 500;
        position: relative;
        padding-right: 20px;
        line-height: 1;
        margin-bottom: 15px;
        @include transition();
        &::before {
            content: '\e015';
            position: absolute;
            font-family: $default-font-family-icon;
            top:50%;
            right:0;
            transform: translateY(-50%);
            margin-left: 10px;
            font-size: 10px;
        }
    }
    .projects {
        @extend .flex--end-x;
        position: relative;
        width: 100%;
        background-color: $gray;
        @include transition();
        &::before {
            content: '';
            @extend .absolute;
            width: 0;
            background-color: darken($gray, 3%);
            @include transition(width, .6s);
        }   
    }
}